.row
  .container.session-card.card.col.s10.offset-s1.m10.offset-m1.l10.offset-l1
    .enter-bar.center
      a(routerLink="/login", class="enter-item green-text") Login    
      a(routerLink="/register", class="enter-item green-text") Sign Up
    .divider

    router-outlet
