.row
  .container.session-card.card.col.s10.offset-s1.m10.offset-m1.l10.offset-l1
    .enter-bar.center.card-tabs
      ul.tabs.tabs-fixed-width
        li.tab
          a(routerLink="/login", class="enter-item green-text") Login
        li.tab
          a(routerLink="/register", class="enter-item green-text") Sign Up
    .divider

    router-outlet
