.row
  .col.s10.offset-s1.m10.offset-m1.l8.offset-l2.circle-card(*ngIf="currentCircle")
    button(class="btn waves-effect waves-light red submit-btn", (click)="goBack()") Back to Dashboard

    .card.center
      .card-content
        p.circle-label.teal-text {{currentCircle['circle_name']}}
        p.owner-label Made by: {{currentCircle['owner']}}
        p.exchange-label Exchange Date: {{currentCircle['exchange_date']}}
        p.budget-label Budget: {{currentCircle['budget']}}
        .div(*ngIf="!currentCircle['arrangement']")
          .div
            p Users In-Circle:
            .div.green-text(*ngFor="let email of acceptedEmails")
              p {{email}}
          .div(*ngIf="currentUser['user_name'] == currentCircle['owner']")
            .div(*ngIf="acceptedEmails.length >= 3")
                button.btn.waves-effect.waves-light.teal.lighten-1((click)="generateMonito()") Monito-Generate!
        .div(*ngIf="currentCircle['arrangement']")
          br
          p.exchange-label Exchange List
          ng-container(*ngFor="let codename of codenameList; let i = index")
            span.code-name {{codename}}
            span(*ngIf = "i%2==0")
              i.material-icons.arrow arrow_forward
            br(*ngIf = "i%2!=0")

    .div(*ngIf="(currentUser['user_name'] == currentCircle['owner']) && !codenameList")
      app-add-users([currentCircle]="currentCircle")
