.row
  .col.s10.offset-s1.m10.offset-m1.l8.offset-l2.circle-card(*ngIf="currentCircle")
    button(class="btn waves-effect waves-light red submit-btn", (click)="goBack()") Back to Dashboard

    .card.center
      .card-content
        p.circle-label.teal-text {{currentCircle['circle_name']}}
        p.owner-label Made by: {{currentCircle['owner']}}
        p.exchange-label Exchange Date: {{currentCircle['exchange_date']}}
        p.budget-label Budget: {{currentCircle['budget']}}
        .div(*ngIf="!currentCircle['arrangement']")
          .div
            p Users In-Circle:
            .div.green-text(*ngFor="let email of acceptedEmails")
              p {{email}}
          .div(*ngIf="currentUser['user_name'] == currentCircle['owner']")
            .div(*ngIf="acceptedEmails.length >= 3")
                button.btn.waves-effect.waves-light.yellow.darken-2((click)="generateMonito()") Monito-Generate!
        .div(*ngIf="currentCircle['arrangement']")
          p {{currentCircle['arrangement']}}
          p {{codenameList}}

    .div(*ngIf="currentUser['user_name'] == currentCircle['owner']")
      app-add-users([currentCircle]="currentCircle")
