.row
  .col.s10.offset-s1.m10.offset-m1.l8.offset-l2.circle-card(*ngIf="currentCircle")
    button(class="btn waves-effect waves-light red submit-btn", (click)="goBack()") Back to Dashboard

    .card.show-card
      .div.right(*ngIf="this.currentUser['user_name'] == this.currentCircle['owner']")
        a.btn.btn-medium.waves-effect.waves-light.red.action-btn(routerLink="/{{this.currentCircle['owner']}}/editcircle/{{this.currentCircle['hash_id']}}", *ngIf="!codenameList") Edit

        a.btn.btn-medium.waves-effect.waves-light.red.action-btn([swal]="deleteSwal") Delete
                    
        swal(#deleteSwal, title="Are you sure?", text="Deleting this event will also delete all associated sub-events.",[showCancelButton]="true", [showCloseButton]="true", type="warning" , [focusCancel]="true", (confirm)="deleteCircle(this.params['circle'])")

      .card-content
        p.circle-label.teal-text {{currentCircle['circle_name']}}
        p.owner-label.bold By: {{currentCircle['owner']}}

        hr
        p 
          span Exchange Date
          span
            i.material-icons.icon arrow_forward
          span {{currentCircle['exchange_date']}}

        p.budget-label 
          span Budget
          span
            i.material-icons.icon arrow_forward
          span {{currentCircle['budget']}}

        .div(*ngIf="userEvents.length > 1")
          br
          p.head-text Events
          .div(*ngFor="let event of userEvents")
            p(*ngIf="event['desc']")
              span
                i.material-icons.icon event
              span {{event['desc']}} 
              span ({{event['exchange_date']}})
        .div(*ngIf="!currentCircle['arrangement']")
          .div
            br
            p.head-text Participants
            .div.green-text.text-darken-2(*ngFor="let email of acceptedEmails")
              p
                span
                  i.material-icons.icon verified_user
                span {{email}}
          .div(*ngIf="currentUser['user_name'] == currentCircle['owner']")
            .div(*ngIf="acceptedEmails.length >= 3")
                button.btn.waves-effect.waves-light.teal.lighten-1((click)="generateMonito()") Monito-Generate!
        .div(*ngIf="currentCircle['arrangement']")
          br
          p.exchange-label Exchange List
          ng-container(*ngFor="let codename of codenameList; let i = index")
            span.code-name {{codename}}
            span(*ngIf = "i%2==0").gives-text.red-text &nbsp; gives a gift to &nbsp;
            br(*ngIf = "i%2!=0")

    .div(*ngIf="(currentUser['user_name'] == currentCircle['owner']) && !codenameList")
      app-add-users([currentCircle]="currentCircle")
