.circle-card{
  font-family:"Raleway";
}
.circle-label{
  font-family: "Lobster";
  font-size: 2em;
}
.submit-btn{
  margin: 10px;
}
.owner-label, .exchange-label, .budget-label{
  font-size:1.1em;
}
.exchange-label{
  font-weight:bold;
}
.add-users-label{
  margin:20px !important;
  padding:20px !important;
}
.code-name{
  display:inline-block;
}
.code-name{
  font-size:1.3em;
}
.arrow{
  vertical-align:middle;
}
