.row
  .container.card.col.s10.offset-s1.m10.offset-m1.l8.offset-l2

    .card-content
      button(class="btn waves-effect waves-light red submit-btn", (click)="goBack()") Back to Dashboard
      form([formGroup]="circleForm", (ngSubmit)="addCircle(circleForm.value)")
        h5(class="session-title") Circle Details

        label(class="input-label", for="circle_name") Circle Name
        input(id="circle_name", formControlName="circle_name")
        <app-control-messages [control]="circleForm.controls.circle_name" ></app-control-messages>

        label(class="input-label", for="budget") Budget
        input(id="budget", formControlName="budget")
        <app-control-messages [control]="circleForm.controls.budget" ></app-control-messages>

        label(class="input-label", for="exchange_date") Date of Exchange
        input(id="exchange_date", formControlName="exchange_date", type="date")
        <app-control-messages [control]="circleForm.controls.exchange_date" ></app-control-messages>

        .row
          .div.card.code-div.yellow.darken-2.col.s12.m6.l6
            label.white-text(class="input-label", for="circle_name") Your Code Name (to be used for the draw in this circle)
            input.white-text(id="code_name", formControlName="code_name")
            <app-control-messages [control]="circleForm.controls.code_name" ></app-control-messages>

        button(class="btn waves-effect waves-light yellow darken-2 submit-btn", type="submit", [disabled]="!circleForm.valid") Create Group
