.card.yellow.darken-2.white-text.component-card
  p.upcoming-title Upcoming Exchanges
  .div(*ngIf="userEvents.length >=1; else noUserEvents")
    .div.eventCont(*ngFor="let userEvent of userEvents")
      p
        span.circle-name 
          a.red-text(routerLink="/{{currentUser['user_name']}}/showcircle/{{userEvent.circle_id}}") {{userEvent.circle_name}}
        br
        .div(*ngIf="userEvent.desc;else deadline")
          span.italic Theme: {{userEvent.desc}}
          br
        span {{userEvent.exchange_date}}
        ng-template(#deadline)
          span.important Final Exchange
          br
  ng-template(#noUserEvents)
    p No upcoming exchanges.
