.card-content
  app-show-errors([errorResponse]="rendErrors")
  form([formGroup]="userForm", (ngSubmit)="onSubmit(userForm.value)")
    h5(class="session-title") Log In

    label(class="input-label", for="email") Email
    input(formControlName="email", type="email")
    <app-control-messages [control] = "userForm.controls.email"></app-control-messages>

    label(class="input-label", for="email") Password
    input(formControlName="password", type="password")
    <app-control-messages [control] = "userForm.controls.password"></app-control-messages>

    button(class="btn waves-effect waves-light green darken-2 submit-btn", type="submit", [disabled]="!userForm.valid") Login
