.dash-sect{
  margin-top:20px;
}
.component-card{
  padding:15px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.user-sect{
  padding-bottom:20px;
}
.circle-card{
  margin:10px;
  padding:10px;
}
.dash-title{
  font-family: "Lobster";
  font-size:1.5em;
}
.card-content{
  font-family:"Raleway";
}
.circle-title{
  font-family: "Lobster";
  font-size:2.5em;
}
.dash-btn{
  margin:5px;
  font-weight:bold;
}
.circle-label{
  font-family: "Lobster";
  font-size: 1.5em;
}
.action-btn{
  margin:3px;
}
.icons{
  vertical-align:middle;
}
