.dash-sect
  .row
    .card.col.s10.offset-s1.m3.offset-m1.l3.offset-l1.red.white-text
      p.dash-title My Dashboard
      p Welcome to your dashboard where all the magic happens! Add a circle and invite people now.
      a.btn.waves-effect.waves-light.teal.lighten-2.dash-btn((click)="goToAddCircle()") Add Circle
    .card.col.s10.offset-s1.m7.l7
      h5.circle-title My Circles
      p You have no circles to show.
  .row
    .card.col.s10.offset-s1.m3.offset-m1.l3.offset-l1.yellow.darken-2.white-text
      p.upcoming-title Upcoming Exchanges
      p No upcoming exchanges
