.dash-sect
  .row
    .user-sect.col.s10.offset-s1.m3.offset-m1.l3.offset-l1
      .card.red.white-text.component-card
        p.dash-title My Dashboard
        p Welcome to your dashboard where all the magic happens! Add a circle and invite people now.
        a.btn.waves-effect.waves-light.teal.lighten-1.dash-btn((click)="goToAddCircle()") Add Circle
      br
      app-upcoming

    .col.s10.offset-s1.m7.l7.component-card
      h5.center.red-text.circle-title My Circles
      .div(*ngIf="allCircles")

        .div(*ngIf="allCircles.length >= 1; else noCircles")
          .div(*ngFor="let circle of allCircles")
            .card.circle-card
              .card-content
                a.circle-label.teal-text(routerLink="/{{currentUser['user_name']}}/showcircle/{{circle['hash_id']}}") {{circle['circle_name']}}
                p.budget-label By: {{circle['owner']}}
                p.exchange-label
                  span Exchange Date
                  span
                    i.material-icons.icons arrow_forward 
                  span {{circle['exchange_date']}}
                p.budget-label 
                  span Budget
                  span
                    i.material-icons.icons arrow_forward
                  span {{circle['budget']}}

              .div(*ngIf="this.currentUser['user_name'] == circle['owner']")
                .card-action
                  a.btn.btn-medium.waves-effect.waves-light.red.action-btn(routerLink=`/{{currentUser['user_name']}}/showcircle/{{circle['id']}}`) Add Users


        ng-template(#noCircles)
          p.center No Circles to Show. Add a Circle now by clicking the "Add Circle" button.
