.card-content
  form([formGroup]="userForm", (ngSubmit)= "onSubmit(userForm.value)")
    h5 Sign Up

    label(for="user_name") User Name
    input(formControlName="user_name")

    label(for="email") Email
    input(formControlName="email", type="email")

    label(for="password") Password
    input(formControlName="password", type="password")

    label(for="password_confirmation") Password Confirmation
    input(formControlName="password_confirmation", type="password")

    button(class = "btn waves-effect waves-light green darken-2",type="submit") Signup
