.card-content
  h5 Sign Up
  label User Name
  input(placeholder='')

  label Email
  input(placeholder='')

  label Password
  input(placeholder='')

  label Password Confirmation
  input(placeholder='')

  a.btn.green.darken-2 submit
